<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">

            <div>Home
                <div class="page-title-subheading">
                </div>
            </div>
        </div>

    </div>
</div>

<mat-card class="Designcard">

    <mat-card-content>
        <div class="container text-center" style="font-size: 20px;">

            Welcome to the cable design system of Alborz Cable Company
        </div>
    </mat-card-content>

</mat-card>