<div class="text-center">
  <mat-card class="login-card">
    <mat-card-header>

      <mat-card-title></mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>

        <h1 class="h3 mb-3 font-weight-normal">Cable Builder</h1>
        <mat-form-field class="login-full-width">
          <mat-label>UserName</mat-label>
          <input matInput formControlName="username" placeholder="Ex. user1">
          <mat-error *ngIf="!loginForm.controls.username.hasError('minlength')">
            Please enter min 5 char
          </mat-error>
          <mat-error *ngIf="loginForm.controls.username.hasError('required')">
            UserName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
       
        <mat-form-field class="login-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="password">
        
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
       
        <app-noetcaptcha #appDntCaptcha [(inputText)]="model.DNTCaptchaInputText" [(text)]="model.DNTCaptchaText"
          [(token)]="model.DNTCaptchaToken" [apiUrl]="captchaApiUrl" [backColor]="'#f7f3f3'" [fontName]="'Tahoma'"
          [fontSize]="18" [foreColor]="'#111111'" [language]="'English'" [max]="100" [min]="1"
          [placeholder]="'Security Code'">
        </app-noetcaptcha>
        <div class="checkbox mb-3">
          <label>
            <mat-checkbox  formControlName="rememberMe" >Remember me</mat-checkbox> 
          </label>
        </div>

        <button [disabled]="!loginForm.valid  || isLoading" mat-raised-button color="primary">
          Sign in
          <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
        </button>
        <div *ngIf="error" class="alert alert-danger" role="alert ">
          {{ error }}
        </div>

        <p class="mt-5 mb-3 text-muted">&copy; Alborz Cable</p>
      </form>
    </mat-card-content>

  </mat-card>
</div>