<div class="dntCaptcha" [id]="apiResponse.dntCaptchaId">
   
    
    <input [id]="hiddenInputName" [name]="hiddenInputName" type="hidden" [value]="apiResponse.dntCaptchaTextValue">
    
    <mat-form-field class="login-full-width">
       
        <input matInput autocomplete="off" dir="ltr" [id]="inputName" [name]="inputName" [placeholder]="placeholder" type="text"
            [(ngModel)]="inputText" (change)="onInputTextChange()">
       
    </mat-form-field>
       
    <img alt="captcha" id="dntCaptchaImg" name="dntCaptchaImg"  [src]="apiResponse.dntCaptchaImgUrl"
        style="margin-bottom: 4px;">
    <input [id]="hiddenTokenName" [name]="hiddenTokenName" type="hidden" [value]="apiResponse.dntCaptchaTokenValue">
</div>